* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 24px;
}

.index-page ul {
	line-height: 36px;
}

table {
	border-spacing: 10px 5px;
	border-collapse: separate;
}

.panel-grid-center {
	margin: 0 auto;
}

/* prime faces widgets should be smaller than default */
.ui-widget {
	font-size: 90%;
}

#page {
	width: 1000px;
	margin: 0 auto;
}

#header {
	height: 60px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #EEE;
	color: #333;
}

#menubar {
	margin-bottom: 20px;
}

#content {
	color: #333;
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}

#footer {
	margin-top: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #EEE;
	color: #999;
	font-size: 12px;
	line-height: 24px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

.center-content {
	display: inline-block;
	text-align: left;
}

.bold {
	font-weight: bold;
}

.header-content-text {
	line-height: 60px;
	margin-left: 40px;
	font-size: 26px;
}

.header-bar-text {
	margin-right: 10px;
}

.parking-panel .ui-panel-content {
	padding: 0.5em 0em !important;
}

.parking-booking {
	border: 1px solid #333;
	color: #333;
	padding: 4px;
	border-collapse: collapse;
	text-align: center;
}

.parking-booking-week {
	background-color: #AFEEEE;
	font-weight: bold;
	border-width: 0px 1px 1px;
	border-style: solid;
	height: 28px;
	border-width: 0px 1px 1px;
}

.parking-booking-day {
	border-width: 0px 1px 1px;
	border-style: solid;
	width: 28px;
	height: 28px;
}

.parking-booking-day img {
	vertical-align: middle;
}

.parking-day-number {
	background-color: #BFBFBF;
}

.parking-day-text {
	background-color: #E5E5E5;
}

.parking-capacity-pos {
	color: #006600;
	font-weight: bold;
}

.parking-capacity-neg {
	color: #E50000;
	font-weight: bold;
}

.parking-capacity-released {
	background-image: url("#{resource['images/released-marker.png']}");
	background-repeat: no-repeat;
	background-position: bottom right;
}

.parking-day-holiday {
	background-color: #FCFC9A;
}

.parking-day-note {
	background-image: url("#{resource['images/note-marker.png']}");
	background-repeat: no-repeat;
	background-position: top right;
}

.parking-day-past {
	opacity: 0.5;
}

.parking-day-today {
	border-width: 0px 3px 1px;
	border-color: #333 #FC0;
}

.parking-tooltip-title {
	font-weight: bold;
}

.parking-button-panel {
	text-align: right;
	padding-top: 10px;
	display: block;
}

.parking-button {
	width: 90px;
}

.month-indicator {
	font-size: 20px;
	padding-left: 10px;
}

.month-panel {
	height: 50px;
}