#page {
	width: 1000px;
	margin: 0 auto;
}

#header {
	height: 60px;
	margin-bottom: 40px;
	padding-top: 20px;
	padding-bottom: 40px;
	border-bottom: 1px solid #EEE;
}

#content {
	
}

#footer {
	margin-top: 40px;
	padding-top: 40px;
	padding-bottom: 20px;
	border-top: 1px solid #EEE;
	color: #999;
	font-size: 12px;
	line-height: 23px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}