#page {
	width: 1000px;
	margin: 0 auto;
}

#header {
	height: 60px;
	margin-bottom: 40px;
	padding-top: 20px;
	padding-bottom: 40px;
	border-bottom: 1px solid #EEE;
}

#content {
	min-height: 400px;
}

#footer {
	margin-top: 40px;
	padding-top: 40px;
	padding-bottom: 20px;
	border-top: 1px solid #EEE;
}

.left {
	float: left;
}

.right {
	float: right;
}